In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv('/Users/marlonschieber/Desktop/weather_api/model_input.csv')
df.head()

       date  aqi  precip  humidity  windspeed  winddir  acres_burned
0  1/1/2017   18     0.0        75         10      269           0.0
1  1/2/2017    5     0.0        78          7      198           0.0
2  1/3/2017    0     2.4        89         13      149           0.0
3  1/4/2017   10     1.1        90          7      271           0.0
4  1/5/2017   10     0.0        65          5      200           0.0

In [11]:
target = df["aqi"]
# target_names = ["negative", "positive"]

In [14]:
data = df.drop("date", axis=1)
data = data.drop("aqi", axis=1)
feature_names = data.columns
data.head()

   precip  humidity  windspeed  winddir  acres_burned
0     0.0        75         10      269           0.0
1     0.0        78          7      198           0.0
2     2.4        89         13      149           0.0
3     1.1        90          7      271           0.0
4     0.0        65          5      200           0.0

In [15]:
 from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [16]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.03278688524590164

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.07103825136612021

In [20]:
 sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.32988221155759745, 'winddir'),
 (0.29797592039530446, 'humidity'),
 (0.1581965728632708, 'windspeed'),
 (0.13037427406235563, 'acres_burned'),
 (0.08357102112147155, 'precip')]